BasedOnStyle: LLVM
AccessModifierOffset: -2
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
BreakBeforeConceptDeclarations: Allowed
ColumnLimit: 90
FixNamespaceComments: false
IndentRequiresClause: false
IndentWidth: 4
PenaltyExcessCharacter: 10
PenaltyIndentedWhitespace: 10
TabWidth: 4
UseTab: Never
